.CFUserTextEncoding
.DDLocalBackups
.DDPreview
.DS_Store
.SoulseekQt
.Trash
.actrc
.alacritty-colorscheme
.amplify
.android
.audiogridder
.aws
.aws-sam
.bash_history
.bash_profile
.bash_sessions
.bashrc
.bun
.bundle
.cache
.cargo
.cdk
.cloudflared
.cocoapods
.conda
.cups
.degit
.docker
.electron
.emacs.d.old
.emulator_console_auth_token
.expo
.extract-scheme-url.sh
.fop
.garden
.ghc
.gnupg
.gradle
.hawtjni
.ipfs
.ipython
.jupyter
.keras
.kube
.lesshst
.local
.m2
.mailcap
.matplotlib
.mime.types
.minikube
.mitmproxy
.net
.node_repl_history
.npm
.nvm
.oracle_jre_usage
.pnpm-state
.profile
.projectM
.pulsar
.pyenv
.python_history
.rustup
.skaffold
.skhdrc
.spacemacs
.spacemacs.env
.sqlanywhere16
.ssh
.stack
.supermaven
.swiftpm
.switch
.tamagui
.tcshrc
.terraform.d
.thumbnails
.tilt-dev
.viminfo
.vscode
.vscode-oss
.xonshrc
.yabairc
.yarn
.yarnrc
.zcompdump
.zprofile
.zprofile.bak
.zsh_history
.zsh_sessions
.zshenv
Applications
Applications (Parallels)
Calibre Library
Desktop
Documents
Downloads
Games
Library
Movies
Music
Other
Parallels
Pictures
Projects
Public
Zotero
go
lwjglnatives
miniconda
miniconda3
.tmux/resurrect
.tmux/tags
